@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;1,6..12,200;1,6..12,500&display=swap');

:root,
:root::before,
student,
student::before {
  display: block;
}

:root {
  margin: 0 auto;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

:root::before {
  content: 'Student Log';
  display: block;
  text-align: center;
  font-size: 2.5rem;
  margin: 24px 0;
}

student::before {
  content: '' attr(id) '  ';
  display: block;
  font-size: 2rem;
}

id {
  font-weight: 500;
  font-size: 1.25rem;
}

id::after {
  content: '\A';
  white-space: pre;
}

first-name {
  font-weight: 500;
  margin-left: 50px;
}

middle-name,
last-name {
  font-weight: 500;
}

preferred-name:not(:empty)::before {
  content: '"';
}

preferred-name:not(:empty) {
  font-style: italic;
}

preferred-name:not(:empty)::after {
  font-style: normal;
  content: '" |';
}

preferred-name:empty::after {
  content: '|';
}

email::after {
  content: ' | ';
}

academic-information {
  display: block;
  margin-top: 10px;
  margin-bottom: 16px;
}

academic-information::before {
  content: 'Academic Information';
  display: block;
  font-weight: 500;
  text-align: left;
  margin-left: 50px;
}

status-year,
gpa,
major,
minor,
status-enrollment,
advisor,
date-initial-enrollment,
graduation-date {
  display: block;
  margin-left: 100px;
}

/* Academic Information Titles */

status-year::before {
  content: 'Status Year: ';
  font-weight: 500;
}

gpa::before {
  content: 'Total GPA: ';
  font-weight: 500;
}

major::before {
  content: 'Major: ';
  font-weight: 500;
}

minor:not(:empty)::before {
  content: 'Minor: ';
  font-weight: 500;
}

status-enrollment::before {
  content: 'Enrollment Status: ';
  font-weight: 500;
}

advisor::before {
  content: 'Advisor: ';
  font-weight: 500;
}

date-initial-enrollment::before {
  content: 'Enrollment Date: ';
  font-weight: 500;
}

graduation-date:not(:empty)::before {
  content: 'Graduation Date: ';
  font-weight: 500;
}
