@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;1,6..12,200;1,6..12,500&display=swap');

:root,
:root::before,
student,
student::before {
  display: block;
}

:root {
  margin: 0 auto;
  width: 1200px;
  font: 200 16px 'Nunito Sans', serif;
}

:root::before {
  content: 'Student Log';
  text-align: center;
  font-size: 2.5rem;
  margin: 24px 0;
}

student::before {
  content: '' attr(name) '';
  font-size: 2rem;
}


id {
  content: 'ID: ' attr(value);
  font-weight: 500;
  font-size: 1.25rem;
}

id::after {
  content: '\A        ';
  white-space: pre;
  margin-bottom: 12px;
}

first-name,
middle-name,
last-name
{
  font-weight: 500;
}

preferred-name,
preferred-name:not(:empty)::before
{
  font-style: italic;
  content: '"';
}

preferred-name:not(:empty)::after
{
  content: '" |';
}

preferred-name::after
{
  font-style: normal;
  content: '|';
}

email::after,
phone::after
{
  content: ' | ';
}

academic-information::before {
  content: '\9\9 Academic Information';
}
